/*
Autor:Martin Maga(xmagam00)
Projekt do predmetu WAP
*/


.window{
	position: absolute;
	width: 250px;
	height: 250px;
	background-color: blue;
}




.ikona{
	height: 25px !important;
}

.windowNew{
	height: 39px;
	width: 39px;
	opacity: 0.9;
	float: left;
	background: white;
}

.hranica{
	background-color: yellow;
	float: left;
}


.barButton{
	position: relative;
	height: 39px;
	width: 99%;
	background-color: blue;
	opacity: 0.4;
	z-index: 600;
}

.clear{
	clear: both;
	width: 100%;
}


.titleOfWindow{
	background-color: yellow;
	height: 39px;
	float: left;
}

.windowTitleIkons{
	margin-left: 80%;
	height: 99%;
}


.barButton:hover{
	opacity: 0.9;
}


.buttonBarWindow:hover{
	background-color: white;
}

.buttonBarWindow{
	height: 39px;
	background-color: black;
	margin-right: 10px;
	float: right;
}

.bodyWindow{
	background-color: white;
}



.desktop{
	width: 1280px;
	background-color: cyan;
	height: 700px;
}
