.desktop{
	width: 1024px;
	height: 800px;
	background-color: #CACAFF;
}

.window{
	position: absolute;
	width: 300px;
	height: 300px;
	background-color: #C2C2D6;
}

.windowTitle{
	background-color: #5CADFF;
	height: 32px;
	float: left;
}


.icon{
	height: 32px !important;
}

.windowTitleIcons{
	margin-left: 80%;
	height: 100%;
}

.border{
	background-color: #5CADFF;
	float: left;
}

.topLeftBorder{
	cursor: nw-resize;
}

.topRightBorder{
	cursor: ne-resize;
}

.bottomLeftBorder{
	cursor: sw-resize;
}

.bottomRightBorder{
	cursor: nw-resize;
}

.leftRightSideBorder{
	cursor: e-resize;
}

.bottomTopSideBorder{
	cursor: s-resize;
}

.clearFix{
	clear: both;
	width: 100%;
}

.windowBody{
	background-color: #CC0000;
}

.buttonBar{
	position: relative;
	height: 40px;
	width: 100%;
	background-color: #0047B2;
	opacity: 0.3;
	z-index: 500;
}

.buttonBar:hover{
	opacity: 1;
}

.newWindow{
	height: 40px;
	width: 40px;
	opacity: 1;
	float: left;
}

.windowInButtonBar{
	height: 40px;
	background-color: #33ADAD;
	margin-right: 3px;
	float: left;
}

.windowInButtonBar:hover{
	background-color: #99EBFF;
}